<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="path-to-your-font-awesome.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Profile Website</title>
</head>
<body>
    <input type="checkbox" id="check"
    <section>
        <div class="navbar">
            <div class="logo">adrt</div>
            <ol class="menuitems">
                <li><a href="/">Home</a></li>
                <li><a href="/works">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/profile">About Me</a></li>
            </ol>
            
            <label for="check" class="fa fa-bars"></label>
        </div>

        <div class="container">
            <div class="text_container">
                <h2>I'm Ann<br>Denise Tadeo</h2>
                <h5>Computer Engineer | student</h5>
                <p> I am a sophomore student majoring in Computer Engineering at the College of Engineering, Department of Computer Engineering, Section 6, at Polytechnic University of the Philippines.
                    This is my subject Data Structure an Algorithms.  I am a results-driven and analytical Computer Engineering student with a passion for software development, 
                    web development, and computer architecture. I am committed to contributing to the development of emerging technology and innovative software solutions. 
                    My goal is to create visually appealing web experiences and drive advancements in computer engineering. 
                    I am dedicated to continuous learning to deliver exceptional results in a rapidly evolving technology landscape.
                </p>
                <a href="/contact" class="btn">Contact Me</a>

            </div>
            <div class="image_container">   
                <div class="imgbox">
                    <img src="/image/img-1.png" alt="user profile">
                </div>
                <span class="animblob"></span>
            </div>
        </div>

        <div class="icons">
            <a href="https://www.instagram.com/_andns">
                <i class="fa fa-instagram"></i>
            </a><br>
            
            <a href="https://github.com/andnstadeo">
                <i class="fa fa-github"></i>
            </a><br>
            
            <a href="https://www.linkedin.com/in/ann-denise-tadeo-064103242">
                <i class="fa fa-linkedin"></i>
            </a><br>
            
        </div>
    </section>
</body>
</html>
