<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Information</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <section class="profile-container">
        <h1>Ann Denise Ramos Tadeo</h1>
        <img src="/image/img-2.jpg" alt="Profile Image">
        
        <div class="about-me">
            <h2>About Me</h2>
            <p>
                In addition to my studies in Computer Engineering, I delve into various hobbies that complement my interests.
                In my free time, I love to read books, novels, stories, documentaries. I also admire art such as paintings, theater, and sculptures.
                Beyond the realm of algorithms and data structures, I find joy in hands-on software development projects. 
                Creating applications and exploring coding languages not only fulfills my creative side but also provides valuable practical experience.
            </p>
            <p>
                Web development, a focal point in my coursework, extends into my personal interests. 
                Crafting visually appealing and user-friendly websites is not just an academic endeavor but a personal passion. 
                I enjoy the challenge of designing seamless web experiences that enhance user interaction and accessibility.
            </p>

            <p>
                Apart from coding, I have a keen interest in computer architecture. 
                Delving into the intricacies of hardware design allows me to understand the fascinating interplay of various components. 
                This exploration adds depth to my comprehension of the broader field of computer engineering.
            </p>

            <p>
                As a student, I'm dedicated to striking a balance between theoretical knowledge and hands-on application. 
                This ensures that I am well-prepared to contribute meaningfully to the dynamic and ever-evolving landscape of technology.
            </p>

            <strong><i>"See wide open spaces when others see boundaries."</i></strong>
            <a href="/" class="btn">Back to Home</a>
        </div>
    </section>
</body>
</html>